html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;

    display: block;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #bebebe;
    background: linear-gradient(to bottom, #bebebe 0%, #e0e0e0 100%);
    color: #000000;
    padding: 7.5px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.center, center {
    display: block;
    text-align: center;
}

main {
    display: block;
    height: 60dvh;
    margin-top: 20px;
    background-color: #ffffff;
    color: #000000;
    padding: 7.5px;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (width < 600px) {
    main {
        padding-left: 10px;
        padding-right: 10px;
    }

}

footer {
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: #205753;
    /* background-color: #aaaaaa; */
    /* background: linear-gradient(to bottom, #cecece 0%, #838383 100%); */
    /* background-image: url('/assets/Brick.png'); */
    background-repeat: repeat;
    background-size: 100px;
    color: #000000;
    padding: 7.5px;
    text-align: center;

    width: 100%;

    box-shadow: 0px 5px 15px 10px #cecece;
}

/* footer>* {
    display: inline-block;
    background-color: rgba(223, 113, 99, 0.637);
    border-radius: 5px;
    box-shadow: 0px 5px 10px 10px rgba(223, 113, 99, 0.637);
} */

code {
    background-color: #e0e0e0;
    color: #000000;
    padding: 2.5px;
    border-radius: 5px;
}

a {
    color: #000274;
    text-decoration: underline;
}

.langmng-selector,
.btn {
    background-color: #e0e0e0;
    color: #000000;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;


    cursor: pointer;
    background: url('/assets/Button.png') no-repeat;
    padding-left: 17.5px;
    padding-right: 12.5px;
    padding-top: 12.5px;
    padding-bottom: 17.5px;
    background-size: 100% 100%;
    border: none;
    outline: none;
}

.langmng-selector,
.btn.small-padding {
    padding-left: 12.5px;
    padding-right: 7.5px;
    padding-top: 7.5px;
    padding-bottom: 12.5px;
}
